.photo-grid {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  padding-top: 48px;
  max-width: 1400px;
  margin: 0 auto;
}
@media only screen and (max-width : 479px) and (min-width : 321px) {
  .photo-grid {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    max-width: 365px;
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
  }
}
