@iphones: ~"only screen and (max-width : 479px) and (min-width : 321px)";
@tablet: ~"only screen and (max-width : 1023px) and (min-width : 480px)";

.closer {
    position: relative;

    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    height: 68px;
    width: 68px;
    @media @iphones, @tablet {
        top: 10px;
        height: 48px;
        width: 48px;
    }
    .icon {
        position: absolute;
        width: 32px;
        height: 32px;
        position: relative;
        top: 18px;
        left: 14px;
        &:before,
        &:after {
            position: absolute;
            content: ' ';
            height: 30px;
            width: 8px;
            background-color: #4a90e2;
            @media @iphones, @tablet {
                height: 20px;
                width: 6px;
            }
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
        &:hover {
            &:before,
            &:after {
                background-color: #1d77dd;
            }
        }
        @media @iphones, @tablet {
            top: 14px;
            left: 5px;
        }
    }
}